<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caixeiro Viajante Carioca</title>
</head>

<body>
    <img src="../static/img/mapa.svg">
    <h1>{{aresta1}}</h1>
    <h1>{{aresta2}}</h1>
    <h1>{{aresta3}}</h1>
    <h1>{{aresta4}}</h1>
    <h1>{{aresta5}}</h1>
    <h1>{{aresta6}}</h1>
    <h1>{{aresta7}}</h1>
    <h1>{{aresta8}}</h1>
    <h1>{{aresta9}}</h1>
    <h1>{{aresta10}}</h1>
    <h1>{{aresta11}}</h1>
    <h1>{{aresta12}}</h1>
    <h1>{{aresta13}}</h1>
    <h1>{{aresta14}}</h1>
    <h1>{{aresta15}}</h1>
    <h1>{{aresta16}}</h1>
    <h1>{{aresta17}}</h1>
    <h1>{{aresta18}}</h1>
    <h1>{{aresta19}}</h1>
    <h1>{{resultado}}</h1>
    <input type="button" value="Refresh Page" onClick="window.location.reload()">


</body>

</html>